name: "Staging Pipeline"

on:
  push:
    branches: [staging]
    paths:
      - "juice-shop/**"
      - ".github/workflows/staging.yaml"
  pull_request:
    branches: [staging]
    paths:
      - "juice-shop/**"
      - ".github/workflows/staging.yaml"

jobs:       
  SonarQube_Scan:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            "-Dsonar.projectName=Juice Shop"
            -Dsonar.projectKey=juiceShop
            -Dsonar.sources=./juice-shop